body{
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  
    margin-bottom: 20px;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0px;
}


ul li a{ 
    padding: 4px;
    text-decoration: none;
    color: black;

}

ul li a:hover{
    border-bottom: 4px solid rgb(255, 174, 35);
    transition-duration: 0.5s;
}

#foto img{
 width: 90px;
 border-radius: 50px;
}

main{
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}

section{
    padding-right: 60px;
    width: 600px;
    flex: 1 1 250px;   
}

.flexbox{
      display: flex;
      flex-wrap: wrap;
}

#sobremi{
    width: 60%;
}

.fecha{
    display: flex;
    gap: 16px;
}
